extends layout

block scripts
    script(src="/javascripts/indexScript.js")

block content
    div.d-flex.justify-content-center.mx-auto(style="width:60%")
        div.col(style="text-align: center")
            each entry in data
                p.fs-2(style="font-weight: bold;") #{entry.tytul}
                p.fs-4 #{entry.tekst}