extends layout

block scripts
    script(src="/javascripts/usersScript.js")


block content
    div.row
        if messages.error
            h3(style="text-align:center") #{messages.error}
        else
            h3(style="text-align:center") Zaloguj się aby móc dodawać pokemony do swojego konta
        div.container.d-flex.justify-content-center(style="text-align:left")
            form(method="POST" action="/users")
                div.mb-3
                    label.form-label(for="email") Email
                    input.form-control(id="email", name="email", placeholder="xyz@mail.com" type="email")
                div.mb-3
                    label.form-label(for="password") Hasło
                    input.form-control(id="password", name="password", placeholder="******" type="password")
                    div.form-text.mt-0(id="textAreaHelp") Nie masz jescze konta?
                        a(href="users/register" style="text-decoration: None;")  Zarejestruj się
                button.btn.btn-danger.mb-3(type="submit") Zaloguj się

