extends layout

block content
    div.container(style='text-align:center')
    p.fs-1 Twoje konto zostało pomyślnie zarejestrowane
    p.fs-3 Przejdź jeszcze raz do Konta Trenera aby się zalogować
    a.fs-3(href="/users") Logowanie