body{
    background-color: #e3d9d5;
    padding: 0;
    margin: 0;
}

#main {
    width: 80%;
    background-color: #448a02;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: #5ad396;
    border: #444d3b 2px solid;

    font-family: Cambria, sans-serif;
}

header h1{
    float: left;
    margin-left: 20px;
    color: #6600cb;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#menu li {
    padding-top: 20px;
    display: inline-block;
    margin: 5px 5px 5px 60px;
    position: relative;
}

#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #30099d;

}

#menu li a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 300ms;
}

#menu a:hover::before{
    width: 100%;
}

nav {
    float: right;
}

#main_content {
    display: flex;
    margin-bottom: 20px;
}

footer {
    height: 30px;
    background-color: #3b6903;
}

footer span {
    margin: 10px;
}

img {
    width:90%;
    height: auto;
}

#text {
    width:50%;
    border:2px dashed white;
}

#images {
    border: 4px dashed black;
    width: 50%;
    text-align: center;
}

/*img::after{*/
/*    clear: both;*/
/*    display:table;*/
/*    content: "";*/
/*}*/


figcaption {
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
}