body{
    background-color: #e3d9d5;
    padding: 0;
    margin: 0;
}

#main {
    width: 80%;
    background-color: rgba(136, 135, 162, 0.7);
    margin: 0 auto;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: #cb9829;
    border: #444d3b 2px solid;

    font-family: Cambria, sans-serif;
}

header h1{
    float: left;
    margin-left: 20px;
    color: #6600cb;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#menu li {
    padding-top: 20px;
    display: inline-block;
    margin: 5px 5px 5px 60px;
    position: relative;
}

#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #30099d;

}

#menu li a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 300ms;
}

#menu a:hover::before{
    width: 100%;
}

nav {
    float: right;
}

#main_content {
    display: flex;
    margin-bottom: 20px;
}

footer {
    height: auto;
    background-color: rgba(224, 182, 47, 0.84);
}

footer span {
    margin: 10px;
}

img {
    width:90%;
    height: auto;
}

#images {
    width: 50%;
    text-align: center;
}


figcaption {
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
}

#lista_projektow li:hover {
 color: brown;
}

footer{
    display: flex;
    flex-direction: row-reverse;
}

footer #working_hours {
    width:15%;
    text-align: center;
}
footer ul {
    margin: 5px;
    list-style-type: none;
    text-align: justify;
    direction: rtl;
}