.nav-item {
  font-family: "Georgia","Arial Narrow", sans-serif;
}

.nav-item a:hover{
  color: #DDD !important;
}

.active{
  font-weight: bold !important;
}

footer{
  background-color: rgba(197, 170, 167, 0.47);
}