*{
    margin: 0;
    padding: 0;
}
nav .navbar-toggler:focus{
    box-shadow: none;
}

.navbar{
    padding: 0;
}
article{
    margin-top: 10px;
    padding-left: 10px;
}

#main{
    flex: 1;
}


#linki, #adres {
    margin-left: 30px;
}
@media screen and (max-width: 576px){
    #footerFlexbox {
        flex-direction: column;
    }

    footer ul{
        text-align: center !important;
    }

    #linki, #adres, #working_hours {
        text-align: center !important;
    }

}